
*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: darkorange;
    padding: 0%;
    height: 6rem;
}
.menu{
    margin-right:10rem;
}

.cabecalho h1{
    margin-left: 10rem;
    font-size: 4rem;
}

.menu a{
 color: #0e0e0c;
 margin-left: 2rem;
 text-decoration: none;
 font-size: 2rem;
 padding: 1.936rem;
}

.menu a:hover{
    background-color: rgb(243, 155, 55);
    
}